.navbar-custom {
  background-color: #191414;
  color: #ffffff;
  width: 100%; /* Ensure the navbar spans the full width */
  margin: 0; /* Remove any margin */
  padding: 0; /* Remove any padding */
  
  top: 0;
  z-index: 1000; /* Ensure the navbar is above other elements */
  margin-right: 200px;
}

.navbar-custom .navbar-brand {
  color: #1db954;
  font-weight: bold;
}

.navbar-custom .navbar-brand:hover {
  color: #1ed760;
}

.navbar-custom .form-control {
  border-radius: 20px;
  border: 1px solid #1db954;
}

.navbar-custom .btn-outline-success {
  color: #1db954;
  border-color: #1db954;
  width: 55%;
}

.navbar-custom .btn-outline-success:hover {
  background-color: #1db954;
  color: #ffffff;
}

.navbar-custom .add-options {
  display: flex;
  align-items: center;
}

.navbar-custom .add-options button {
  background-color: transparent;
  border: none;
  color: #b3b3b3;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-custom .add-options button:hover {
  color: #1db954;
}

.navbar-custom .add-options i {
  font-size: 1.2em;
}

.modal-content {
  background-color: #191414;
  color: #ffffff;
}

.modal-header {
  border-bottom: 1px solid #282828;
}

.modal-title {
  color: #1db954;
}

.btn-close {
  filter: invert(1);
}